*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.recipe-box {
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  color: var(--clr-medium-black);

  background: var(--clr-lightgrey);
  border-radius: 12px;

  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.3),
    inset -3px -3px 8px rgb(255, 255, 255);
}

.recipe-box h1 {
  text-align: center;

  color: #000;
}

.recipe-box ol {
  list-style-position: inside;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content p span {
  font-weight: bold;
  color: #000;
}

.content img {
  height: 200px;
  width: 200px;

  border-radius: 50%;
}

@media only screen and (max-width: 378px) {
  .recipe-box {
    padding: 2rem 1rem;
  }
}
